<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:theme="@style/Theme.NMIX"
        android:label="NMIX"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name=".NmixTimeService"
            android:exported="false"
            android:foregroundServiceType="specialUse">

            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="NMIX user-started timer and stopwatch with persistent time notification" />

        </service>

        <activity-alias
            android:name=".IconGreenAdaptive"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_nmix_green"
            android:roundIcon="@mipmap/ic_nmix_green"
            android:label="NMIX">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".IconBlueAdaptive"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_nmix_blue"
            android:roundIcon="@mipmap/ic_nmix_blue"
            android:label="NMIX">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".IconPurpleAdaptive"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_nmix_purple"
            android:roundIcon="@mipmap/ic_nmix_purple"
            android:label="NMIX">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".IconOrangeAdaptive"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_nmix_orange"
            android:roundIcon="@mipmap/ic_nmix_orange"
            android:label="NMIX">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".IconRoseAdaptive"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_nmix_rose"
            android:roundIcon="@mipmap/ic_nmix_rose"
            android:label="NMIX">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".IconCyanAdaptive"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_nmix_cyan"
            android:roundIcon="@mipmap/ic_nmix_cyan"
            android:label="NMIX">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".IconGreenRound"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_nmix_round_green"
            android:roundIcon="@drawable/ic_nmix_round_green"
            android:label="NMIX">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".IconBlueRound"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_nmix_round_blue"
            android:roundIcon="@drawable/ic_nmix_round_blue"
            android:label="NMIX">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".IconPurpleRound"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_nmix_round_purple"
            android:roundIcon="@drawable/ic_nmix_round_purple"
            android:label="NMIX">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".IconOrangeRound"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_nmix_round_orange"
            android:roundIcon="@drawable/ic_nmix_round_orange"
            android:label="NMIX">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".IconRoseRound"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_nmix_round_rose"
            android:roundIcon="@drawable/ic_nmix_round_rose"
            android:label="NMIX">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".IconCyanRound"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/ic_nmix_round_cyan"
            android:roundIcon="@drawable/ic_nmix_round_cyan"
            android:label="NMIX">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>
